<center>

<% if current_user %>
    <%= link_to "Log Out", logout_path %>
<% else %>
    <%= button_to "Create New User", register_path, method: :get %>
    <%= link_to "Log In", login_path %>
<% end %>

<section class='existing-users'>
    <p>Existing Users: </p>
    <% @users.each do |user| %>
    <ul>
        <% if current_user %>
            <li><%= link_to user.email, user_path(user.id) %></li><br>
        <% else %>
            <%= link_to user.email, login_path %>
        <% end %>
    </ul>
    <% end %>
</section>
</center>